*{
  background-color: bisque;
}
.input{
  background-color: bisque;
  margin-top: 0%;
  margin-bottom: auto;
}
.search{
  border-radius: 10px;
  font-size: 20px;
}
.All {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.movieslist {
  background-color: bisque;
  border-style: outset;
  border-radius: 3%;
  padding: 5%;
  height: 300px;
  width: 310px;
}
.movieslist p {
  background-color: bisque;
  align-items: center;
  border-style: none;
  width: 310px;
}
.inputfield{
  justify-content: center;
  margin-bottom: 2%;
  font-size: 30px;
  border-radius: 5px;
}
/* .movies {
  display: flex;
} */
